body {
    font-family: Arial, sans-serif;
    background-color: #f3f0f5;
    color: #26093d;
}

h1{
    font-size: 36px;
}

#colored-text{
    color: #4c0880;
}

body h1, h2{
    text-align: center;
    
}

header nav{
    text-align: center;
}

header nav a{
    background-color: #eae6ed;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 30px;
    color: #26093d; 
}

header nav a:hover{
    background-color: #e7dfed;
    color: #333;
}

header nav a:visited{
    color: #26093d;
}

section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #b67ecc;
    border-radius: 10px;
}   

main p {
    text-align: center;
    margin-left: auto;
}



table, th, td{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #b67ecc;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

/* > selects all descendants */
section#concerts > div#concert-schedule-container {
    text-align: center;
}

/* SPACE selects all direct children */
section#concerts ul{
    display: inline-block;
    text-align: left;
}


footer{
    text-align: right;
}